@{
    ViewData["Title"] = "Delete Movie";
}

@model Mission06_murdodav.Models.Movie

<div class="text-center">
    <h1 class="mt-3">Confirm Delete</h1>
    <h2>Are you sure you want to delete @Model.Title?</h2>
    <form method="post" asp-controller="Home" asp-action="Delete">

        <button type="submit" class="btn btn-primary mt-3 mx-3 mb-3">Delete</button>

        <a asp-controller="Home" asp-action="ViewMovies" class="btn btn-outline-light mt-3 mx-3 mb-3">Cancel</a>

        <input type="hidden" asp-for="MovieID" />
    </form>

</div>