@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">

    <h1 class="mt-3 text-light">The Joel Hilton Film Collection</h1>

    <h3 class="text-light">Our Founder: Joel Hilton</h3>

    <img src="~/img/JoelHiltonHeadshot.jpg" class="mt-1" /><br />

    <a asp-controller="Home" asp-action="ViewMovies" class="btn btn-outline-light mt-3">View The Collection</a>
</div>
