@{
    ViewData["Title"] = "Podcasts";
}

<div class="text-center">
    <h1 class="mt-1">Podcasts</h1>

    <a href="https://baconsale.com/" target="_blank"><img src="~/img/baconsale.png" /></a>
    <br />

    <h5 class="mt-3">
        Joel Hilton does a weekly podcast with a couple friends about movies called <a href="https://baconsale.com/" target="_blank">Baconsale</a>.
    </h5>

    <a class="btn btn-primary mt-2" href="https://baconsale.com/" target="_blank">Baconsale</a>

</div>